<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>

  <st #st [data]="url" [columns]="columns" [ps]="'20'" [req]="req" [res]="res" [expand]="expand" expandRowByClick>
    <ng-template #expand let-item let-index="index" let-column="column">
      <sv-container col="2">
        <sv label="类">{{item.classname}}</sv>
        <sv label="方法">{{item.method}}</sv>
        <sv label="地址">{{item.address}}</sv>
        <sv col="1" label="信息">{{ item.message }}</sv>
      </sv-container>

    </ng-template>
  </st>
</nz-card>
