<nz-card>
  <div class="mb-md">
    <sf mode="search" [schema]="searchSchema" (formSubmit)="doSearch($event)" (formReset)="doSearch($event)"></sf>
  </div>
  <div class="mb-md">
    <button (click)="add()" nz-button [nzType]="'primary'"><i nz-icon type="plus"></i>新建</button>
  </div>
  <st #st [data]="url" [columns]="columns" [ps]="'20'" [req]="req" [res]="res"></st>
</nz-card>

<nz-card>
  <sv-container col="2">
    <sv label="地区">
      <nz-cascader [nzOptions]="nzOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)">
      </nz-cascader>
    </sv>
  </sv-container>
  <nz-tree #treeCom [nzData]="nodes" nzAsyncData="true" nzCheckable="true" nzMultiple="true" (nzClick)="nzClick($event)"
    (nzSelectedKeysChange)="nzSelect($event)" (nzCheckBoxChange)="nzCheck($event)">
  </nz-tree>
</nz-card>
